{{#if @verticle}}
  <div class="flex flex-col items-center text-xs lg:text-base uppercase font-bold" ...attributes>
    <img src="/assets/clubs/70/{{@club.logo}}.png" class="w-12 h-12 mx-2 mb-2 rounded"/>
    <div class="text-center">
      {{@club.shortName}}
    </div>
  </div>
{{else}}
  <div class="flex flex-row items-center w-3/6 text-xs lg:text-base uppercase font-bold" ...attributes>
    <img src="/assets/clubs/70/{{@club.logo}}.png" class="h-8 lg:h-12 mx-2 rounded"/>
    <div>
      {{@club.shortName}}
    </div>
  </div>
{{/if}}
