<div class="flex flex-col space-y-2 pt-6 pb-4">
  <div class="flex flex-row justify-between pl-4 pr-4">
    <select name="gameweek-selector" class="text-xs lg:text-base form-select min-w-max rounded-md border border-premPurple" {{on "change" this.setGameweek}}>
      {{#each this.gameweeks as |gameweek|}}
        <option value={{gameweek.id}} selected={{if (eq gameweek this.currentGameweek) 'selected'}}>Gameweek {{gameweek.label}}</option>
      {{/each}}
    </select>
    <LinkTo class="text-xs lg:text-base min-w-max rounded-md p-2 border border-premPurple" @route="leaderboard">Leaderboard</LinkTo>
  </div>
  <Gameweek @gameweek={{this.currentGameweek}}/>
  <div class="flex flex-col pt-2 items-center">
    <LogoutButton />
  </div>
</div>
