<div class="flex flex-col items-center space-y-4 p-4">
  <div class="flex flex-row w-full mt-4">
    <select name="leaderboard-selector" class="text-xs lg:text-base form-select min-w-max rounded-md border border-premPurple" {{on "change" this.setLeaderboard}}>
      {{#each this.leaderboards as |leaderboard|}}
        <option value={{leaderboard}} selected={{if (eq leaderboard this.selectedLeaderboard) 'selected'}}>{{leaderboard}}</option>
      {{/each}}
    </select>
  </div>
  <div class="text-center text-xl lg:text-2xl font-thin">
    LEADERBOARD
  </div>
  <div class="flex flex-col flex-grow rounded-xl border w-full shadow lg:max-w-2xl pb-2">
    <table class="mt-2">
      <thead>
      <tr class="text-sm lg:text-lg">
        <th><!--Name--></th>
        <th class="text-left">GP</th>
        <th class="text-left">W</th>
        <th class="text-left">D</th>
        <th class="text-left">L</th>
        <th class="text-left">GWP</th>
        <th class="text-left">Total</th>
      </tr>
      </thead>
      <tbody>
      {{#each this.leaderboardRows as |standing index|}}
        <Leaderboard::Row @standing={{standing}} @index={{index}} @totalRows={{this.leaderboardRows.length}}/>
      {{/each}}
      </tbody>
    </table>
  </div>
  <LinkToButton @route="index" @text="Current Gameweek" class="pt-8" />
  <LogoutButton class="pt-2"/>
</div>
