<tr class="text-sm lg:text-lg border-t border-gray-200">
  <td>
    <div class="flex flex-row space-x-4 items-center p-2 pl-4 fit-content">
      <img src="/assets/{{@standing.babber.photo}}" class="inline-block h-6 bigMobile:h-8 lg:h-12 w-6 bigMobile:w-8 lg:w-12 rounded-full ring-2 ring-premPurple" title={{@standing.babber.name}}/>
      <div class="uppercase">{{@standing.babber.name}}</div>
    </div>
  </td>
  <td class="p-1 lg:p-2">{{@standing.gamesPlayed}}</td>
  <td class="p-1 lg:p-2">{{@standing.wins}}</td>
  <td class="p-1 lg:p-2">{{@standing.draws}}</td>
  <td class="p-1 lg:p-2">{{@standing.loses}}</td>
  <td class="p-1 lg:p-2">{{@standing.gameweeksPlayed}}</td>
  <td class="p-1 lg:p-2">€{{@standing.total}}</td>
</tr>