<div class="flex flex-col space-y-2 pt-4">
  <div class="flex flex-col">
    <div class="text-center text-xl lg:text-2xl font-thin text-gray-300">
      Fixtures Admin
    </div>
    <button
      class="w-64 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      {{on 'click' this.createGameweeks}}
    >
      Create Gameweeks
    </button>

    <button
      class="mt-10 w-64 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      {{on 'click' this.createClubs}}
    >
      Create Clubs
    </button>

    <button
      class="mt-10 w-64 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      {{on 'click' this.createFixture}}
    >
      Create Fixture
    </button>

    {{#each @gameweeks as |gameweek|}}
      <div class="text-center text-xl lg:text-2xl font-thin text-gray-300">
        Gameweek {{gameweek.label}}
      </div>
      <Gameweek::FixtureList @gameweek={{gameweek}}/>
    {{/each}}
  </div>
</div>
