<div class='flex flex-col space-y-2 pt-4'>
  <div class='text-center text-xl lg:text-2xl font-thin text-gray-300'>
    Fixtures Admin
  </div>
  <div class='flex flex-row justify-between px-4 mb-4'>
    <select
      name='gameweek-selector'
      class='text-xs lg:text-base form-select min-w-max rounded-md border border-premPurple'
      {{on 'change' this.setGameweek}}
    >
      {{#each this.gameweeks as |gameweek|}}
        <option
          value={{gameweek.id}}
          selected={{if (eq gameweek this.currentGameweek) 'selected'}}
        >Gameweek {{gameweek.label}}</option>
      {{/each}}
    </select>
  </div>

  <Gameweek::FixtureList @gameweek={{this.currentGameweek}} />

  <div class='flex-row text-center'>
    <a href={{this.updateFixturesUrl}} target='_blank' rel="noopener noreferrer">
      <button
        class='w-64 bg-white hover:bg-gray-100 text-white font-semibold py-2 px-4 border border-premPurple bg-premPurple hover:text-premPurple rounded-md shadow'
        type='button'
      >
        Update Fixtures
      </button>
    </a>
  </div>

</div>