<div class="flex flex-col flex-grow rounded-xl w-full shadow lg:max-w-2xl p-4 space-y-2 border">
  <div class="flex flex-row justify-between">
    <div class="flex flex-col">
      <div>Game</div>
      <Input
        @value={{@game.label}}
      />
    </div>
    <div class="flex flex-col">
      <div>Start Gameweek</div>
      <select {{on "change" this.setStartGameweek}} class="form-select rounded-md border disabled:opacity-5">
        {{#each @gameweeks as |gameweek|}}
          <option
            value={{gameweek.id}}
            selected={{if (eq gameweek.id @game.startGameweek.id) 'selected'}}
          >
            {{gameweek.label}}
          </option>
        {{/each}}
      </select>
    </div>
    <div class="flex flex-col">
      <div>End Gameweek</div>
      <select {{on "change" this.setEndGameweek}} class="form-select rounded-md border disabled:opacity-5">
        {{#each @gameweeks as |gameweek|}}
          <option
            value={{gameweek.id}}
            selected={{if (eq gameweek.id @game.endGameweek.id) 'selected'}}
          >
            {{gameweek.label}}
          </option>
        {{/each}}
      </select>
    </div>
    <div class="flex flex-col">
      <div>Winner</div>
      {{#if this.winners}}
          {{#each this.winners as |winner|}}
            <Babber @babber={{winner}}/>
          {{/each}}
      {{else}}
        Ongoing
        <select name="winner-selector" class="form-select min-w-max w-1/5 rounded-md ml-4 mr-4 border border-premPurple" {{on "change" this.setWinner}} multiple>
          {{#each @babbers as |babber|}}
            <option value={{babber.id}}>{{babber.name}}</option>
          {{/each}}
        </select>
      {{/if}}
      <button
        class="w-64 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
        {{on 'click' this.saveGame}}
      >
        Save Game
      </button>
    </div>
  </div>
</div>
